.button {
    
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 300px;
    border-color: transparent;
    left: 45%;
    color: black;
    background: #E9FF62;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 13px;
    justify-content: space-evenly;
}
.button_arrow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.arrow{
    color: rgb(190, 181, 181);
}
.button:hover{
    border-color: transparent;
    border-width: 0;
    transform: scale(1.08);
    box-shadow: 0px 8px 8px rgb(0 0 0 / 25%);
}